@model Sistema_Turnos.Models.EmpleadoViewModel

@{
    ViewData["Title"] = "Graficos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/assets/css/apexcharts.css">
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
<div class="card-body">
    <div class="row">
        <div class="col-sm-9">
            <h2>Graficos</h2>
        </div>
        <div class="col-sm-3">
            <button id="btnRegresar" type="button" class="btn btn-dark">Regresar</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h4 class="control-label">Gradico segun fecha</h4>
            </div>
            <hr />
            <div id="chart"></div>
            <div class="row" id="fechas">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <input type="date" id="fechainicio" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Fecha Fin</label>
                        <input type="date" id="fechafin" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button id="btnAgregar" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="~/assets/js/apexcharts.min.js"></script>
            <script>
                $('#turnos').toggle("collapse");
                $('#esquema').click(function () {
                    $('#turnos').toggle("collapse");
                });
                $('#btnAgregar').click(function () {
                    $('#btnAgregar').hide();
                    $('#fechas').hide();
                    $('#chart').show();

                    var fechainicio = $('#fechainicio').val();
                    var fechafin = $('#fechafin').val();

                    $.ajax({
                        url: 'https://localhost:44363/API/TurnosPorEmpleado/ContarTurnosEmpleados/' + fechainicio + '/' + fechafin,
                        type: 'GET',
                        contentType: 'application/json',
                        data: JSON.stringify,
                        cache: false,
                        success: function (response) {

                            console.log(response.data);

                            const descripciones = response.data.map(item => item.turn_Descripcion);
                            const conteos = response.data.map(item => item.conteo);

                            console.log("descripcion: " + descripciones);
                            console.log("conteos: " + conteos);

                            var colors = ['#008FFB', '#00E396', '#FEB019', '#FF4560', '#775DD0', '#00D9E9', '#FF66C3', '#FF34B3'];

                            var options = {
                                series: [{
                                    data: conteos
                                }],
                                chart: {
                                    height: 350,
                                    type: 'bar',
                                    events: {
                                        click: function (chart, w, e) {
                                            // console.log(chart, w, e)
                                        }
                                    }
                                },
                                colors: colors,
                                plotOptions: {
                                    bar: {
                                        columnWidth: '45%',
                                        distributed: true,
                                    }
                                },
                                dataLabels: {
                                    enabled: false
                                },
                                legend: {
                                    show: false
                                },
                                xaxis: {
                                    categories: descripciones,
                                    labels: {
                                        style: {
                                            colors: colors,
                                            fontSize: '12px'
                                        }
                                    }
                                }
                            };
                            var chart = new ApexCharts(document.querySelector("#chart"), options);
                            chart.render();

                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }

                    });
                });

            </script>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h4 class="control-label">Gradico segun fecha y empleado</h4>
            </div>
            <hr />
            <div id="charttt"></div>
            <div id="cont1">
                <div class="row" id="fechasss">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Fecha Inicio</label>
                            <input type="date" id="fechainicioo" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Fecha Fin</label>
                            <input type="date" id="fechafinn" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row" id="fechasss">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Empl_Id" class="control-label"></label>
                            <select asp-for="Empl_Id" id="ddlEmpleados" style="background-color:#222a42;" class="form-control" asp-items="ViewBag.Empleados">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button id="btnAgregarrrr" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="~/assets/js/apexcharts.min.js"></script>
            <script>

                $('#btnAgregarrrr').click(function () {

                    $('#btnAgregarrrr').hide();

                    $('#cont1').hide();
                    $('#charttt').show();

                    var fechainicioo = $('#fechainicioo').val();
                    var fechafinn = $('#fechafinn').val();
                    var ddlEmpleados = $('#ddlEmpleados').val();

                    $.ajax({
                        url: 'https://localhost:44363/API/TurnosPorEmpleado/ContarTurnosEmpleadosEmple/' + fechainicioo + '/' + fechafinn + '/' + ddlEmpleados,
                        type: 'GET',
                        contentType: 'application/json',
                        data: JSON.stringify,
                        cache: false,
                        success: function (response) {

                            console.log(response.data);

                            const descripciones = response.data.map(item => item.turn_Descripcion);
                            const conteos = response.data.map(item => item.conteo);

                            console.log("descripcion: " + descripciones);
                            console.log("conteos: " + conteos);

                            var colors = ['#008FFB', '#00E396', '#FEB019', '#FF4560', '#775DD0', '#00D9E9', '#FF66C3', '#FF34B3'];

                            var options = {
                                series: [{
                                    data: conteos
                                }],
                                chart: {
                                    height: 350,
                                    type: 'bar',
                                    events: {
                                        click: function (chart, w, e) {
                                            // console.log(chart, w, e)
                                        }
                                    }
                                },
                                colors: colors,
                                plotOptions: {
                                    bar: {
                                        columnWidth: '45%',
                                        distributed: true,
                                    }
                                },
                                dataLabels: {
                                    enabled: false
                                },
                                legend: {
                                    show: false
                                },
                                xaxis: {
                                    categories: descripciones,
                                    labels: {
                                        style: {
                                            colors: colors,
                                            fontSize: '12px'
                                        }
                                    }
                                }
                            };
                            var chart = new ApexCharts(document.querySelector("#charttt"), options);
                            chart.render();

                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }

                    });
                });

            </script>
        </div>
    </div>
    <script>
        $('#btnRegresar').click(function () {
            window.location.href = window.location.href + '?nocache=' + new Date().getTime();

        });
    </script>
</div>


