@model Sistema_Turnos.Models.HospitalViewModel

<div class="card-body">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Hosp_Descripcion" class="control-label"></label>
                    <input asp-for="Hosp_Descripcion" class="form-control" />
                    <span asp-validation-for="Hosp_Descripcion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Hosp_Direccion" class="control-label"></label>
                    <input asp-for="Hosp_Direccion" class="form-control" />
                    <span asp-validation-for="Hosp_Direccion" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Ciud_Id" class="control-label"></label>
                    <select asp-for="Ciud_Id" style="background-color:#222a42;" class="form-control" asp-items="ViewBag.municipio"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-danger">Regresar</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
